@{
    ViewData["Title"] = "Psicólogos";
}

@model IEnumerable<Psychologist>

<section class="container">
    <h2 class="py-3 px-4 bg-body-tertiary border rounded-3">Listagem de Psicólogos</h2>

    <a class="btn btn-primary mt-4 mb-2" asp-controller="Psychologist" asp-action="Insert">
        Incluir novo
    </a>
</section>

<section class="container">
    <div class="table-responsive-xl">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
                    <th scope="col" class="col-1">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Psychologist in Model)
                {
                    <tr>
                        <td>@Psychologist.Id</td>
                        <td>@Psychologist.Name</td>
                        <td>
                            <div class="row">
                                <div class="col-6 d-flex justify-content-center">
                                    <a asp-controller="Psychologist" asp-action="Edit" asp-route-Id="@Psychologist.Id">
                                        <i class="bi bi-pencil-fill text-info" title="Editar"></i>
                                    </a>
                                </div>
                                <div class="col-6 d-flex justify-content-center">
                                    <a asp-controller="Psychologist" asp-action="Delete" asp-route-Id="@Psychologist.Id">
                                        <i class="bi bi-trash3-fill text-danger" title="Excluir"></i>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>