@{
    ViewData["Title"] = "Psicólogos";
}

@model IEnumerable<Psychologist>

<section class="container">
    <h2 class="py-3 px-4 bg-body-tertiary border rounded-3">Listagem de Psicólogos</h2>

    <a class="btn btn-primary mt-4 mb-2" asp-controller="Psychologist" asp-action="Insert">
        Incluir novo
    </a>
</section>

<section id="psychologist-index" class="container">
    <div class="table-responsive-xl">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.Id)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.CRP)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.hasClearance)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Addresses)</th>
                    <th scope="col" class="col-1">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Psychologist in Model)
                {
                    var index = Psychologist.Id;
                    <tr>
                        <td>@Psychologist.Id</td>
                        <td>@Psychologist.Name</td>
                        <td>@Psychologist.CRP</td>
                        <td>@(Psychologist.hasClearance ? "Sim" : "Não")</td>
                        <td>
                            <a href="#" @@click.prevent="toggleAddressRow(@index)">Expandir</a>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-6 d-flex justify-content-center">
                                    <a asp-controller="Psychologist" asp-action="Edit" asp-route-Id="@Psychologist.Id">
                                        <i class="bi bi-pencil-fill text-info" title="Editar"></i>
                                    </a>
                                </div>
                                <div class="col-6 d-flex justify-content-center">
                                    <a asp-controller="Psychologist" asp-action="Delete" asp-route-Id="@Psychologist.Id">
                                        <i class="bi bi-trash3-fill text-danger" title="Excluir"></i>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr id="tableaddresses-@index" v-cloak>
                        <td colspan="6" v-if="showAddressRows[@index]">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Logradouro</th>
                                        <th scope="col">Número</th>
                                        <th scope="col">Complemento</th>
                                        <th scope="col">Cidade</th>
                                        <th scope="col">Estado</th>
                                        <th scope="col">CEP</th>
                                        <th scope="col">Endereço Principal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var addr in Psychologist.Addresses!)
                                    {
                                        <tr>
                                            <td>@addr.Street</td>
                                            <td>@addr.Number</td>
                                            <td>@addr.Complement</td>
                                            <td>@addr.City</td>
                                            <td>@addr.State</td>
                                            <td>@addr.ZipCode</td>
                                            <td>@(addr.IsMainAddress ? "Sim" : "Não")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

@section Scripts {

    <script type="module">
        import autoAnimate from 'https://cdn.jsdelivr.net/npm/@@formkit/auto-animate/index.min.js';

        Vue.createApp({
            data() {
                return {
                    showAddressRows: {},
                };
            },
            methods: {
                toggleAddressRow(index) {
                    this.showAddressRows[index] = !this.showAddressRows[index];
                },
            },
            mounted() {
                this.showAddressRows = Object.fromEntries(
                    Array.from(this.$el.querySelectorAll('[id^=tableaddresses]')).map(row => {
                        const id = row.id.split('-')[1];
                        return [id, false];
                    })
                );
                document.querySelectorAll('[id^=tableaddresses]').forEach(el => autoAnimate(el))
            },
        }).mount('#psychologist-index');
    </script>

}